.card-details {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 25;

    width: 768px;
    background-color: #f4f5f7;

    align-self: flex-end;
    margin-bottom: -100%;

    animation: modal-bottom .25s forwards linear;

    will-change: transform, margin-bottom, width;

    @media (min-width: 576px) {

    }

    @media (min-width: 768px) {
        margin: 48px 0 80px;
        border-radius: 2px;
        align-self: flex-start;
        -webkit-animation-name: slideInDown;
                animation-name: slideInDown;
    }

    @media (min-width: 992px) {

    }

    @media (min-width: 1200px) {

    }

    &-close-animation {
        animation: modal-bottom-close .25s forwards linear;

        @media (min-width: 768px) {
            -webkit-animation-name: slideOutUp;
                    animation-name: slideOutUp;
        }
    }

    &-overlay {
        overflow-x: hidden;
        overflow-y: auto;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 20;

        display: flex;
        justify-content: center;
        align-items: flex-start;

        background-color: rgba(0,0,0,.64);
    }

    &-close {
        position: absolute;
        top: 50%;
        right: 50%;
        margin-right: -50%;
        transform: translate(-50%,-50%);

        width: 32px;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;

        svg {
            width: 24px;
            height: 24px;
            fill: #42526e;
        }

        &:hover {
            border-radius: 50%;
            background-color: rgba(9,30,66,.08);

            svg {
                fill: #42526e;
            }
        }
    }

    &-header {
        position: relative;
        padding: 20px;
        padding-right: 40px;

        font-size: 20px;
        font-weight: 500;
    }

    &-main {
        overflow-x: hidden;
        overflow-y: auto;
        min-height: 200px;
        padding: 20px;

        display: grid;
        gap: 20px;
    }

    &-title {
        display: grid;
        grid-template-areas: "icon content";
        grid-template-columns: 32px 1fr;
        margin-bottom: 8px;
        gap: 8px;

        > .title {
            &-icon {
                width: 32px;
                height: 32px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                color: rgb(131, 140, 145);
                grid-area: icon / icon / icon / icon;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: currentColor;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;

                .title-input-field {
                    width: 100%;
                    box-sizing: border-box;
                    -webkit-appearance: none;
                    display: block;

                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 24px;

                    resize: none;
                    overflow: hidden;
                    overflow-wrap: break-word;
                    margin: 0;
                    margin-top: 2px;
                    border-radius: 3px;
                    padding: 4px 0px;
                    background: transparent;
                    outline: none;
                    border: none;
                    box-shadow: none;
                    transition: box-shadow 0.3s ease 0s,  padding 0.3s ease 0s;

                    &:focus {
                        background: #fff;
                        padding: 4px 8px;
                        border: none;
                        resize: vertical;
                        box-shadow: inset 0 0 0 2px #0079bf;
                    }

                    &:placeholder {
                        font: inherit;
                    }
                }
            }
        }
    }

    &-description {
        display: grid;
        grid-template-areas: "icon content";
        grid-template-columns: 32px 1fr;
        margin-bottom: 8px;
        gap: 8px;

        &-icon {
            width: 32px;
            height: 32px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            color: rgb(131, 140, 145);
            grid-area: icon / icon / icon / icon;

            svg {
                width: 20px;
                height: 20px;
                fill: currentColor;
            }
        }

        &-title {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin: 6px 0 0;
        }

        &-content {
            display: flex;
            flex-direction: column;
        }

        &-main {
            position: relative;
            margin-top: 8px;

            > a {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px inset;
                display: block;
                min-height: 48px;
                line-height: 22px;
                color: rgb(131, 140, 145);
                cursor: pointer;
                outline: none;
                background: rgba(0, 0, 0, 0.03);
                padding: 6px 8px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(214, 218, 220);
                border-image: initial;
                border-radius: 3px;
            }
        }
    }

    &-action {
        display: grid;
        grid-template-areas: "icon content";
        grid-template-columns: 32px 1fr;
        margin-bottom: 8px;
        gap: 8px;

        > .action {
            &-icon {
                width: 32px;
                height: 32px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                color: rgb(131, 140, 145);
                grid-area: icon / icon / icon / icon;

                svg {
                    width: 20px;
                    height: 20px;
                    fill: currentColor;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;

                > .action-title {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    margin: 6px 0 0;
                }

                > .action-main {
                    position: relative;
                    margin-top: 8px;

                    > .action-delete {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-size: 14px;
                        font-weight: 500;
                        font-family: inherit;

                        padding: 8px 13px;
                        border-radius: 3px;

                        color: rgb(51, 51, 51);
                        background: rgb(226, 228, 230);
                        box-shadow: rgb(214, 218, 220) 0px 1px 0px 0px;

                        svg {
                            margin-right: 6px;
                            width: 15px;
                            height: 15px;
                            fill: currentColor;
                        }
                    }
                }
            }
        }
    }
}

@keyframes modal-bottom {
    from {
        margin-bottom: -100%;
    }
    to {
        margin-bottom: 0;
    }
}

@keyframes modal-bottom-close {
    from {
        margin-bottom: 0;
    }
    to {
        margin-bottom: -100%;
    }
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}