.card-detail {
    display: grid;
    gap: 20px;
    padding: 20px;
    background-color: #f4f5f7;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    width: 768px;

    &-header {
        display: grid;
        grid-template-columns: 32px 1fr;
        gap: 8px;

        &-icon {
            width: 32px;
            height: 32px;

            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                width: 24px;
                height: 24px;
                fill: #42526e;
            }
        }

        &-title {
            &-textarea {
                padding: 0 8px;
                border-radius: 3px;

                background: transparent;
                border: none;
                box-shadow: none;

                font-size: 20px;
                font-weight: 600;

                overflow: hidden;
                overflow-wrap: break-word;
                height: 32px;
                line-height: 32px;

                color: #172b4d;
            }
        }
    }

    &-main {
        
    }

    &-description {
        background-color: rgba(9,30,66,.04);
        box-shadow: none;
        border: none;
        border-radius: 3px;
        display: block;
        min-height: 40px;
        padding: 8px 12px;
        text-decoration: none;

    }

    &-title {

        &-textarea {
            outline: none;
            margin-top: 2px;
            border-radius: 3px;

            transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
            background: transparent;
            border-width: 1px;
            border-style: solid;
            border-color: transparent;
            border-image: initial;


            overflow: hidden;
            overflow-wrap: break-word;
            height: 32.8px;

            line-height: 24px;
            padding: 4px 8px;

            font-size: 20px;
            font-weight: 600;

            color: #172b4d;

            &:focus {
                background: rgba(255, 255, 255, 0.85);
                box-shadow: rgb(2, 106, 167) 0px 0px 2px 0px;
                border-color: rgb(41, 143, 202);
            }
        }
    }
}

.detail-section {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 8px;

    &-icon {
        width: 32px;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 24px;
            height: 24px;
            fill: #42526e;
        }
    }

    &-title {
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        color: #42526e;

        margin-bottom: 10px;
    }
}


.form-adding-description {
    display: grid;
    grid-template-rows: 1fr 32px;
    gap: 10px;

    &-action {
        display: grid;
        grid-template-columns: max-content 32px 1fr;
        gap: 10px;
    }
}

.field-input-description-card {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    border: none;
    border-radius: 3px;
    height: 100px;
    padding: 10px;
    background: #fff;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px inset;
    display: block;
    min-height: 48px;
    line-height: 22px;
    color: rgb(131, 140, 145);
    outline: none;
    background: rgba(0, 0, 0, 0.03);
    padding: 6px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(214, 218, 220);
    border-image: initial;
    border-radius: 3px;
}

.button-submit-field-input {

}

.button-submit-field-input {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background: rgb(90, 172, 68);
    box-shadow: rgb(81, 152, 57) 0px 1px 0px 0px;
}

.button-close-form-adding-description {
    display: flex;
    align-items: center;
    justify-content: center;

    background: none;

    &:hover {
        svg {
            fill: #172b4d;
        }
    }

    svg {
        width: 24px;
        height: 24px;
        fill: #42526e;
    }
}