.adding-board {
    position: relative;
    overflow: hidden;

    cursor: pointer;
    background-color: rgba(9,30,66,.04);
    color: #172b4d;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;

    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

    &:hover {
        background-color: rgba(9,30,66,.08);
    }
}