.board {
    position: relative;
    overflow: hidden;
    padding: 10px;
    border-radius: 3px;

    color: #fff;
    background-color: #97a0af;
    background-size: cover;
    background-position: 50%;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.board::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 3px;

    transition-property: background-color;
    transition-duration: 85ms;
    transition-timing-function: ease;
}

.board:hover::before {
  background-color: rgba(0,0,0,0.2);
}

.board-title {
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
}

.board-details {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-favorite {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.btn-favorite {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  background-color: initial;

  width: 24px;
  height: 24px;
  margin-right: -35px;
  transition: margin-right 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn-favorite[data-favorite] {
  margin-right: 0;
}

.btn-favorite[data-favorite] svg {
  fill: gold;
}

.board:hover .btn-favorite {
  margin-right: 0;
}

.btn-favorite:hover svg {
  width: 24px;
  height: 24px;
}