#board {
    margin-right: 0;
    transition: margin .1s ease-in;

    &-body {
        position: relative;
        flex-grow: 1;
    }

    &-main {
        position: relative;
        flex-grow: 1;
        background: linear-gradient(180deg,hsla(0,0%,100%,.24) 0,hsla(0,0%,100%,.24) 48px,hsla(0,0%,100%,0) 80px,hsla(0,0%,100%,0));
    }

    &-lists {
        padding: 0 10px 10px;
        overflow-x: auto;
        overflow-y: hidden;
        display: grid;
        grid-auto-columns: 272px;
        grid-auto-flow: column;
        grid-column-gap: 10px;
        align-items: start;
        height: calc(100vh - 92px);

        background: linear-gradient(180deg,hsla(0,0%,100%,.24) 0,hsla(0,0%,100%,.24) 48px,hsla(0,0%,100%,0) 80px,hsla(0,0%,100%,0));

        /* &::-webkit-scrollbar {
            height: 12px;
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgba(241, 241, 241, 0.5);
            border-radius: 3px;
            margin: 0 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(241, 241, 241, 0.5);
            border-radius: 3px;

            &:hover {
                background: rgba(227,242,253,.7);
            }
        } */
    }
}

.show-menu #board {
    margin-right: 339px;
}