#board-header {
    display: grid;
    grid-template-columns: max-content 32px 1fr max-content;
    gap: 10px;

    padding: 9px 10px;
}


#board-title {
    display: flex;
    align-items: center;

    padding: 0 10px;
    border-radius: 3px;

    color: #fff;

    font-size: 18px;
    font-weight: 700;
    line-height: 32px;

    &:hover {
        background-color: hsla(0,0%,100%,.32);
    }
}

#board-favorite {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    padding: 0;
    outline: none;
    border-radius: 3px;

    background-color: rgba(0,0,0,.16);

    &:hover {
        background-color: rgba(0,0,0,.24);
    }

    svg {
        width: 20px;
        height: 20px;
        fill: #fff;
    }

    &[favorite] svg {
        fill: gold;
    }
}

.boards-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    border-radius: 3px;

    color: #fff;
    background-color: rgba(0,0,0,.15);
    background-color: rgba(255, 255, 255, 0.24);

    &:hover {
        background-color: rgba(255, 255, 255, 0.32);
    }

    svg {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: #fff;
    }
}