.adding-list {
    width: 282px;
    padding-right: 10px;
}

.show-form-adding-list {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    border-radius: 3px;

    display: flex;
    align-items: center;

    outline: none;
    cursor: pointer;
    background-color: rgba(241, 241, 241, 0.5);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

    svg {
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: rgba(227, 242, 253, 0.7);
    }
}

.show .show-form-adding-list {
    display: none;
}



.form-adding-list {
    display: none;
    grid-template-rows: 35px;
    gap: 8px;

    padding: 8px;
    border-radius: 3px;
    background-color: #ebecf0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.show .form-adding-list {
    display: grid;
}

.field-input-form-adding-list {
    background: #fff;
    border: none;
    border-radius: 2px;
    margin: 0;
    padding: 8px 12px;

    color: rgba(0,0,0,.87);
    font-size: 14px;
    font-weight: 400;

    &::placeholder {
        color: rgba(0,0,0,.7);
        font-size: 14px;
        font-weight: 400;
        font-family: Roboto, sans-serif;
    }
}

.form-adding-list-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.button-submit-field-input-form-adding-list {
    cursor: pointer;
    border: none;
    font: inherit;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;
    padding: 10px;
    color: #fff;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.button-close-form-adding-list {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 24px;
        height: 24px;
        fill: #6b778c;
        transition: fill .3s ease;
    }

    &:hover {
        svg {
            fill: #172b4d;
        }
    }
}