.list {
    background-color: #ebecf0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

    width: 272px;
    border-radius: 3px;

    flex: 0 0 auto;
    margin-left: 10px;

    display: inline-block;
    vertical-align: top;

    /* height: 100vh;
    width: 100vw;
    scroll-snap-align: start; */
}


.list-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-right: 47px;
}

.list-title {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    height: 32px;
    line-height: 23px;

    padding: 4px 8px;
    border-radius: 2px;
}

.list-more {
    position: absolute;
    right: 8px;
    top: 8px;
}

.list-more-toggle {
    padding: 0;
    width: 32px;
    height: 32px;
    background: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;

    svg {
        width: 24px;
        height: 24px;
        fill: #6b778c;
    }

    &:hover {
        svg {
            fill: #00000091;
        }
    }
}

.list-more-toggle:hover {
    border-radius: 3px;
    background-color: rgba(9,30,66,.08);
}

.list-more-menu {
    display: none;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    top: 0;
    left: 0;
    z-index: 2;
    will-change: transform;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);


    @media (max-width: 576px) {
        position: fixed;
        top: auto;
        right: 0;
        bottom: 0;
        border-radius: 0px;
        transform: translateY(50px);

        animation: showw 0.5s ease forwards;
    }

    @media (min-width: 768px) {}

    @media (min-width: 992px) {}

    @media (min-width: 1200px) {}

    &-popover {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,.05);
    }
}

@keyframes showw {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

.show .list-more-menu-popover {
    @media (max-width: 576px) {
        display: block;
    }

    display: block;
    position: absolute;
}

.show .list-more-menu {
    display: block;
}

.list-more-item {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 10px;
    width: 100%;
    line-height: 32px;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 1.4rem;
    font-weight: 400;

    svg {
        width: 20px;
        height: 20px;
        margin: 6px 0;

        fill: #6b778c;
    }
}

.list-more-item:hover {
    background-color: #0000001a;
}








.list-cards {
    max-height: calc(100% - 48px - 48px);
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 8px;

    overflow-y: auto;
    overflow-x: hidden;
}

.list-footer {
    padding: 8px;
    padding-right: 47px;

    display: flex;
    justify-content: space-between;
}


.add-card {
    cursor: pointer;
    border: none;
    outline: none;
    font: inherit;
    text-align: left;
    background: none;

    width: 100%;
    height: 32px;
    line-height: 23px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;

    color: rgb(82, 82, 82);
}

.add-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}