:root {
    --color: #ddd;
    --height-header: 60px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-image: url('../img/brick-wall.jfif');
    background-size: cover;
    background-color: #fafafa;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /* overflow-y: hidden; */
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

a {
    color: #42526e;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h3 {
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;

	background-color: rgba(255, 255, 255, 0.5);
    height: var(--height-header);
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

main {
	margin-top: var(--height-header);
    display: flex;
	align-items: flex-start;
}

/*
 * sidebar
*/
.sidebar-section {
}

.sidebar {
    margin-top: 40px;
    padding: 0 30px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-auto-rows: 35px;
}

.nav-item {
    border-radius: 2px;
}

.nav-item[active],
.nav-item:hover {
    background-color: rgba(76, 175, 80, 0.3);
}

.nav-link {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    height: 100%;
}

/*
 * List
*/

#lists {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.list {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;

    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;

    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}


/*
 * Header
*/

.list-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-right: 47px;
}

.list-title {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    height: 32px;
    line-height: 23px;

    padding: 4px 8px;
    border-radius: 2px;
}

.list-more {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}

.list-more a {
    width: 32px;
    height: 32px;
    color: #6b778c;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-more a:hover {
    color: #172b4d;
    background-color: rgba(9,30,66,.08);
}

/*
 * cards
*/

.list-cards {
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 1px 4px;
    z-index: 1;
    min-height: 0;

    -webkit-overflow-scrolling: touch;
    overflow: hidden;
    overflow-y: auto
}

/*
 * card
*/

.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

/*
 * Footer
*/

.list-footer {
    padding: 8px;
    padding-right: 47px;

    display: flex;
    justify-content: space-between;
}

[data-add-card] {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 23px;
    padding: 4px 8px;
    border-radius: 2px;

    font-size: 14px;
    font-weight: 400;
    color: rgb(82, 82, 82);
}

[data-add-card]:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


.card {
	cursor: default;
	width: 100%;
	background: white;
	padding: 10px;
	border: none;
	border-radius: 3px;
    margin-bottom: 8px;
    box-shadow: 0px 1px 0px 0px #c9cfd4;

    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: rgb(82, 106, 122);

    transition: background-color 0.2s linear;

        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card:hover {
	background-color: #e3f2fd;
    cursor: pointer;
}

.card:focus {
	cursor: auto;
}

.card textarea {
	margin: 0;
}

.card.dragged {
	opacity: 0.01;
}

.list.dragged {
	opacity: 0.4;
}

.action {
	cursor: pointer;
}

.list.under {
	margin-top: 20px;
}

.card.under {
	opacity: 0.5;
}




/*
 * main #board
*/

#main {
    height: 100vh;
    padding-top: 60px;
}

#board {
    padding: 10px;

    display: flex;
    flex-direction: row;

    overflow-x: auto;
    overflow-y: hidden;

    flex-grow: 1;
}

/*
 * add list
*/

.open-form-add-list {
    cursor: pointer;
    height: 35px;
    padding: 6px 8px;

    display: flex;
    align-items: center;
}

.show .open-form-add-list {
    display: none;
}

.form-add-list {
    display: none;
    grid-template-rows: 35px;
    gap: 5px;
}

.show .form-add-list {
    display: grid;
}

.form-add-list-input {
    background: #fff;
    border: none;
    border-radius: 2px;
    margin: 0;
    padding: 8px 12px;
}

.form-add-list-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.form-add-list-submit {
    cursor: pointer;
    border: none;
    font: inherit;
    border-radius: 2px;
    padding: 10px 15px;
    color: #fff;
    background-color: #1976d2;
}

.form-add-list-close {
    border: none;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}




.add-list {
    background-color: rgba(241, 241, 241, 0.5);
    transition: all 0.2s ease;

    margin: 0 4px;
    width: 240px;
    border-radius: 3px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    padding: 5px;

    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.add-list:hover {
    background-color: rgba(227, 242, 253, 0.7);
}









.add-list-input {
    display: none;

    background: #fff;
    border: none;
    border-radius: 2px;
    margin: 0;
    padding: 8px 12px;
    width: 100%;
}

.show #add-list-input {
    display: block;
}

.list-add-controls {
    margin: 4px 0 0;
    margin-bottom: 1px;

    display: none;
    flex-direction: row;
    align-items: center;
}

.show .list-add-controls {
    display: flex;
}

.list-add-controls input {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    margin-right: 4px;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.list-add-controls a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    line-height: 32px;
    width: 32px;
}

.list-add-controls a svg {
    fill: #42526e;
}

.list-add-controls a svg:hover {
    fill: #000;
}

.placeholder {
    display: block;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    color: #42526e;;
    padding: 6px 8px;
}

.show .placeholder {
    display: none;
}

#add-list:focus {
    background-color: #000;
}



/*
 *  Modal
*/

.modal-overlay {
   opacity: 0;
   visibility: hidden;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.75);
   z-index: 999;
   transition: .3s all;
}

.modal {
   /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;

   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 150px;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/

   /*  Побочные стили   */
   transition: 0.3s all;
}

.modal.active,
.modal-overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}


/*
 * from
*/

.board-creation {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.board-creation-header {
    display: grid;
    grid-template-columns: 1fr 110px;
    grid-gap: 10px;
}

.making-board {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 121, 191);
    border-radius: 2px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 32px;
    grid-auto-rows: 32px;
    grid-gap: 10px;
}

/* .making-board:before {
    background: rgba(0,0,0,.15);
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    border-radius: 3px;
} */

.making-board-title {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    outline: none;
    padding: 0 8px;
    border-radius: 2px;
}

.making-board-title::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: inherit;
}

.making-board-title:hover,
.making-board-title:focus {
    background: hsla(0,0%,100%,.15);
}

.making-board-close {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.making-board-close svg {
    fill: #fff;
}

.felt-tip-pens {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-gap: 10px;
    grid-auto-rows: 30px;
}

.felt-tip-pen {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.board-creation-footer {

}




.background-board {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-gap: 10px;
    grid-auto-rows: 30px;
}

.background-board-trigger {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}




.create-board-submit-button {
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    cursor: pointer;
}