:root {
    --border-radius: 3px;
    --color: #ddd;
    --height-header: 60px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 10px;
}


body {
    margin: 0;
    background-color: #fafafa;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

a {
    color: #42526e;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h3 {
    margin: 0;
}

svg {
    display: inline-block;
}

textarea {
  resize: none;
  width: 100%;
  font: inherit;
}

button {
    cursor: pointer;
    border: none;
    font: inherit;
}

#logo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* .show {
    display: block!important;
} */

.hide {
    display: none!important;
}

header {
    position: relative;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    display: flex;
    align-items: center;

    width: 100%;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.15);

    /* background: rgba(0,0,0,.32) */;

    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
}

.btn-boards {
    padding: 8px 15px;
    border-radius: var(--border-radius);
    background-color: hsla(0,0%,100%,.1);
}

main {
  padding: 0 15px;
  overflow-y: auto;
}

@media (min-width: 575.98px) {
    main {
        display: grid;
        grid-template-columns: 300px 1fr;
    }
}

@media (min-width: 575.98px){
  main {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px){
  main {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  main {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px){
  main {
    padding: 0 calc(50vw - 590px);
  }
}

/*
 * sidebar
*/

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    height: 50px;

    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

@media (min-width: 992px) {
    .sidebar {
        display: none;
    }
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-rows: 50px;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.nav-item[active] svg {
    fill: blue;
}

.nav-link span {
    font-size: 1rem;
}

.nav-item[active],
.nav-item:hover {
    /* background-color: rgba(76, 175, 80, 0.3); */
}

.boards-section {
    padding-top: 40px;

    display: grid;
    grid-template-rows: 32px 1fr;
    grid-row-gap: 15px;
}

.boards-section:last-child {
    padding-bottom: 90px;
}

.boards-header {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-column-gap: 10px;
    grid-auto-rows: 32px;
    align-items: center;
}

.boards-header svg {
    margin: 4px 0;
}

.boards-header h3 {
    line-height: 32px;
    color: #42526e;
}


/*
 * main #board
*/

#root {
    height: 100vh;

    display: grid;
    grid-template-rows: 50px 1fr;
}

#main {
    display: grid;
    grid-template-rows: 50px 1fr;
}

#board {
    display: grid;
    grid-template-columns: max-content 240px;
    grid-column-gap: 10px;
    align-items: flex-start;

    overflow-x: auto;
    overflow-y: hidden;
}

/*
 * board header
*/

#board-header {
    padding: 8px 10px;

    /* display: grid;
    grid-template-columns: max-content 1fr max-content; */
    display: flex;
    flex-direction: row;



    justify-content: space-between;
}

.board-title {
    
}

.board-title:hover {
    background-color: hsla(0,0%,100%,.32);
}

.board-title-text {
    padding: 0 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 700
}


#board-settings {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 2px;

    color: #fff;
    background-color: rgba(0,0,0,.08);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

#board-settings svg {
    margin-right: 5px;
}

/*
 * List
*/

#lists {
    display: flex;
    flex-direction: row;
}

.list {
    background-color: #ebecf0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

    width: 272px;
    height: calc(100% - 10px - 17px);
    border-radius: 3px;

    flex: 0 0 auto;
    margin-left: 10px;
}


/*
 * Header
*/

.list-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-right: 47px;
}

.list-title {
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    height: 32px;
    line-height: 23px;

    padding: 4px 8px;
    border-radius: 2px;
}

.list-more {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}

.more-toggle {
    padding: 0;
    width: 32px;
    height: 32px;
    background: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.more-toggle:hover {
    border-radius: 3px;
    background-color: rgba(9,30,66,.08);
}

.more-menu {
    display: none;
    position: absolute;
    transform: translate3d(0px, 0px, 0px);
    top: 0;
    left: 0;
    z-index: 2;
    will-change: transform;

    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.show .more-menu {
    display: block;
}

.more-item {
    display: block;
    width: 100%;
    line-height: 32px;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    padding-left: 20px;
    padding-right: 20px;
}

.more-item:hover {
    background-color: #0000001a;
}



/*
 * cards
*/

.list-cards {
    max-height: calc(100% - 48px - 48px);
    overflow-y: auto;
    padding-left: 8px;
    padding-right: 8px;
}

/*
 * card
*/

.card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}


/*
 * Footer
*/

.list-footer {
    padding: 8px;
    padding-right: 47px;

    display: flex;
    justify-content: space-between;
}

/*
 * add card
*/

.add-card {
    cursor: pointer;
    border: none;
    outline: none;
    font: inherit;
    text-align: left;
    background: none;

    width: 100%;
    height: 32px;
    line-height: 23px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 2px;

    color: rgb(82, 82, 82);
}

.add-card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-adding-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 40px;
    gap: 10px;
    margin-top: 2px;
    margin-bottom: 8px;
}

.card-add-text {
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.add-card-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.add-card-submit {
    cursor: pointer;
    border: none;
    font: inherit;
    border-radius: 2px;
    padding: 10px 15px;
    color: #fff;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.add-card-close {
    border: none;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
	cursor: default;
	width: 100%;
	background: white;
	padding: 10px;
	border: none;
	border-radius: 3px;
    margin-bottom: 8px;
    box-shadow: 0px 1px 0px 0px #c9cfd4;

    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: rgb(82, 106, 122);

    transition: background-color 0.2s linear;

        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card:hover {
	background-color: #e3f2fd;
    cursor: pointer;
}

.card:focus {
	cursor: auto;
}

.card textarea {
	margin: 0;
}

.card.dragged {
	opacity: 0.01;
}

.list.dragged {
	opacity: 0.4;
}

.action {
	cursor: pointer;
}

.list.under {
	margin-top: 20px;
}

.card.under {
	opacity: 0.5;
}






/*
 * add list
*/

.show-form-add-list {
    cursor: pointer;
    height: 35px;
    padding: 6px 8px;

    display: flex;
    align-items: center;
}

.show .show-form-add-list {
    display: none;
}

.form-add-list {
    display: none;
    grid-template-rows: 35px;
    gap: 5px;
}

.show .form-add-list {
    display: grid;
}

.form-add-list-input {
    background: #fff;
    border: none;
    border-radius: 2px;
    margin: 0;
    padding: 8px 12px;
}

.form-add-list-action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.form-add-list-submit {
    cursor: pointer;
    border: none;
    font: inherit;
    border-radius: 2px;
    padding: 10px 15px;
    color: #fff;
    background-color: #1976d2;
}

.form-add-list-close {
    border: none;
    background: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}




.add-list {
    background-color: rgba(241, 241, 241, 0.5);
    transition: all 0.2s ease;

    width: 240px;
    border-radius: 3px;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    padding: 5px;

    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}

.add-list:hover {
    background-color: rgba(227, 242, 253, 0.7);
}









.add-list-input {
    display: none;

    background: #fff;
    border: none;
    border-radius: 2px;
    margin: 0;
    padding: 8px 12px;
    width: 100%;
}

.show #add-list-input {
    display: block;
}

.list-add-controls {
    margin: 4px 0 0;
    margin-bottom: 1px;

    display: none;
    flex-direction: row;
    align-items: center;
}

.show .list-add-controls {
    display: flex;
}

.list-add-controls input {
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    margin-right: 4px;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.list-add-controls a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    line-height: 32px;
    width: 32px;
}

.list-add-controls a svg {
    fill: #42526e;
}

.list-add-controls a svg:hover {
    fill: #000;
}

.placeholder {
    display: block;

    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    color: #42526e;;
    padding: 6px 8px;
}

.show .placeholder {
    display: none;
}

#add-list:focus {
    background-color: #000;
}



/*
 *  Modal
*/

.modal-overlay {
   opacity: 0;
   visibility: hidden;

   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.75);
   z-index: 999;
   transition: .3s all;
}

.modal {
   /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;

   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 150px;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/

   /*  Побочные стили   */
   transition: 0.3s all;
}

.modal.active,
.modal-overlay.active{
   opacity: 1;
   visibility: visible;
}

.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}


/*
 * from
*/

.board-creation {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.board-creation-header {
    display: grid;
    grid-template-columns: 1fr 110px;
    grid-gap: 10px;
}

.making-board {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 121, 191);
    border-radius: 2px;
    padding: 10px;

    display: grid;
    grid-template-columns: 1fr 32px;
    grid-auto-rows: 32px;
    grid-gap: 10px;
}

/* .making-board:before {
    background: rgba(0,0,0,.15);
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    border-radius: 3px;
} */

.making-board-title {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    outline: none;
    padding: 0 8px;
    border-radius: 2px;
}

.making-board-title::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-family: inherit;
}

.making-board-title:hover,
.making-board-title:focus {
    background: hsla(0,0%,100%,.15);
}

.making-board-close {
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.making-board-close svg {
    fill: #fff;
}

.felt-tip-pens {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-gap: 10px;
    grid-auto-rows: 30px;
}

.felt-tip-pen {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.board-creation-footer {

}




.background-board {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-gap: 10px;
    grid-auto-rows: 30px;
}

.background-board-trigger {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}




.create-board-submit-button {
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    cursor: pointer;
}