header {
    position: relative;

    display: grid;
    grid-template-columns: max-content max-content 1fr 32px;
    align-items: center;

    width: 100%;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;

    background: rgba(0,0,0,.15);

    #profile {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: inherit;

        width: 32px;
        height: 32px;
    }

    #photoURL {
        border-radius: 50%;
    }

    &.bg-boards {
        background: #026aa7;
    }

    .logo {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);

        color: #fff;
        font-size: 25px;
        font-family: cursive;
    }

    .home {
        height: 32px;
        line-height: 32px;
        width: 32px;
        margin-right: 4px;
        border-radius: 3px;
        background-color: hsla(0,0%,100%,.3);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: hsla(0,0%,100%,.2);
        }

        svg {
            width: 20px;
            height: 20px;
            fill: #fff;
        }
    }
}

.header-boards {
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;

    padding: 0 6px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    background-color: hsla(0,0%,100%,.3);

    &:hover {
        background-color: hsla(0,0%,100%,.2);
    }

    svg {
        width: 20px;
        height: 20px;
        fill: #fff;
        margin-right: 5px;
    }

    span {
        color: #fff;
    }
}