#header-boards {
    &-wrapper {
        overflow: hidden;

        position: fixed;
        top: 52px;
        left: 10px;
        bottom: auto;
        max-height: calc(100% - 62px);

        width: 280px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        border-radius: 3px;
        background: #fff;

        overflow: hidden;
        display: flex;
        flex: 1;

        box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    }

    width: 100%;

    display: grid;
    gap: 20px;

    padding-right: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}

.section {
    display: grid;
    gap: 10px;

    &-header {
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-template-rows: 20px;
        gap: 4px;
    }

    &-body {
        display: grid;
        gap: 4px;
    }

    &-icon {
        height: 20px;
        padding: 2px;
        svg {
            width: 16px;
            height: 16px;
            fill: #6b778c;
        }
    }

    &-title {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: #5e6c84;
        display: flex;
        align-items: center;
    }
}

.board-horizontal {
    display: flex;
    align-items: center;

    height: 36px;
    overflow: hidden;
    position: relative;

    &-image {
        position: relative;
        background-size: cover;
        border-radius: 3px 0 0 3px;
        height: 36px;
        min-width: 36px;
    }

    &-title {
        position: relative;
        width: 100%;
        padding: 9px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        color: #172b4d;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &-background {
        background-size: cover;
        background-position: 50%;
        position: absolute;
        width: 100%;
        height: 36px;
        opacity: 1;
        border-radius: 3px;

        &:before {
            background: #fff;
            bottom: 0;
            content: "";
            left: 0;
            opacity: .88;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    &:hover {
        .board-horizontal-background {
            &:before {
                opacity: .77;
            }
        }
    }

    &-favorite {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        button {
            margin-right: 0;
        }

        &[favorite="true"] {
            margin-right: 5px;
            svg {
                fill: gold;
            }
        }

        svg {
            width: 16px;
            height: 16px;
            fill: #42526e;
        }
    }
}