#login {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);

    .link-login-or-registration {
        margin-top: 10px;
        margin-bottom: 30px;

        a {
            padding-bottom: 10px;
            border-bottom: 2px solid #a06df280;

            &:first-child {
                margin-right: 10px;
            }

            &:hover {
                border-bottom-color: #a06df2;
            }

            &.current {
                border-bottom-color: #a06df2;
            }
        }
    }
}

.login {
    width: 100%;
    min-height: 100vh;
    flex-direction: row!important;

    &-bg {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        display: inline-block;
        width: 50%;
        height: 100%;
        background-color: #a06df2;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 80%;
        }
    }

    &-wrapper {
        position: relative;
        display: inline-block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 50%;

        background: #fff;
    }
}

form {
    display: grid;
    gap: 10px;
    > h3 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        /* text-align: center; */
    }
    > p {
        margin: 0;
        padding: 0;
        font-size: 1.4rem;
        /* text-align: center; */
    }
    input {
        border: none;
        overflow: visible;
    }
    > div {
        position: relative;
        > input[type="text"],
        > input[type="email"],
        > input[type="password"] {
            width: 100%;
            font-size: 1.5rem;
            line-height: 1.5;
            color: #000;
            padding: 0 30px 0 50px;

            height: 50px;
            border-radius: 3px;
            border: 1px solid #d3d9de;

            &::placeholder {
                color: #666;
            }

            &:focus {
                &::placeholder {
                    color: #999;
                }
            }
        }
        > svg {
            position: absolute;
            top: 50%;
            left: 17.5px;
            transform: translate(0,-50%);

            width: 15px;
            height: 15px;

            fill: #666;
        }
    }
    > input[type="submit"] {
        cursor: pointer;
        width: 100%;
        height: 50px;
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 20px;
        border-radius: 3px;
        color: #fff;
        background-color: #5fb053;

        &.blue {
            background-color: #5181b8;

            &:active {
                background-color: #4872a3;
                padding-top: 5px;
            }

            &:hover {
                background-color: #5b88bd;
            }
        }

        &:active {
            background-color: #68b35d;
            padding-top: 5px;
        }

        &:hover {
            background-color: #68b35d;
        }

        &:disabled {
            padding-top: 5px;
            color: rgb(170, 170, 170);
            cursor: default;
            background-color: rgb(235, 235, 228)!important;
        }
    }
    > .link-register {
        margin-top: 13.0rem;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            margin-left: 10px;
            width: 18px;
        }
    }
}