#register {
    width: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);

    text-align: center;

    @media (min-width: 576px) {
        width: 350px;
    }

    @media (min-width: 768px) {
        text-align: left;
    }

    @media (min-width: 992px) {

    }

    @media (min-width: 1200px) {

    }

    .link-login-or-registration {
        margin-top: 10px;
        margin-bottom: 30px;

        a {
            padding-bottom: 10px;
            border-bottom: 2px solid #a06df280;

            &:first-child {
                margin-right: 10px;
            }

            &:hover {
                border-bottom-color: #a06df2;
            }

            &.current {
                border-bottom-color: #a06df2;
            }
        }
    }
}

.register {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row!important;

    &-bg {
        position: relative;
        overflow: hidden;
        display: none;
        width: 50%;
        height: 100%;
        background-color: #a06df2;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 80%;
        }

        @media (min-width: 576px) {

		}

		@media (min-width: 768px) {
            display: inline-block;
		}

		@media (min-width: 992px) {

		}

		@media (min-width: 1200px) {

		}
    }

    &-wrapper {
        position: relative;
        display: inline-block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;

        background: #fff;

        @media (min-width: 576px) {

		}

		@media (min-width: 768px) {
            width: 50%;
		}

		@media (min-width: 992px) {

		}

		@media (min-width: 1200px) {

		}
    }
}