.register {
    &-page {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    &-wrapper {
        overflow-y: auto;
        width: 390px;
        padding: 77px 55px 33px 55px;

        background: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    }
}