:root {
    --border-radius: 3px;
    --color: #ddd;
    --height-header: 50px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* @media (min-width: 576px) {
    html {
        font-size: 7px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 8px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 9px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 10px;
    }
} */

body {
    margin: 0;
    color: #000000de;
    background-color: #fafbfc;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.43;
    font-family: "Roboto" sans-serif;
}

a {
    color: #42526e;
    text-decoration: none;
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h3 {
    margin: 0;
}

svg {
    display: inline-block;
}

textarea {
  resize: none;
  width: 100%;
  font: inherit;
}

button {
    cursor: pointer;
    border: none;
    font: inherit;
    padding: 0;
    margin: 0;
}

.hide {
    display: none!important;
}

main#boards-body {
    padding: 0 15px;
    overflow-y: auto;

    @media (min-width: 575.98px) {
        display: grid;
        grid-template-columns: 272px 1fr;
    }
    @media (min-width: 575.98px){
        padding: 0 calc(50vw - 270px);
    }
    @media (min-width: 767.98px){
        padding: 0 calc(50vw - 360px);
    }
    @media (min-width: 991.98px) {
        padding: 0 calc(50vw - 480px);
    }
    @media (min-width: 1199.98px){
        padding: 0 calc(50vw - 590px);
    }
}

.btn {
    margin: 0;
    padding: 0;
    outline: none;
}

[ripple] {
    position: relative;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    background-size: cover;
    background-position: 50%;
}

@import './boards/board';
@import './boards/boards';

@import './sidebar';
@import './bottomNavigation';

@import './plugins/ripple';
@import './plugins/modal';

@import './forms/making-board';